.o-navbar {
    font-family: 'Oxanium';
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
    top: 0;
    width: 100%;
    background-color: #3C3C3C;
    border-bottom: solid 2px rgba(60, 60, 60, 0.2);
    z-index: 2;
    box-shadow: 0px 5px 10px -2px rgba(3,174,174,1);

    
    &_nav  {
        width: 30vw;
    }

    &_list  {
        display: flex;
        list-style: none;
        padding: 0;
        justify-content: space-between;
    }

    &_listItem  {
        a {
            text-decoration: none;
            color: #f9f9f9;
            font-size: 1.2em;
            font-weight: 700;
        }

        :hover {
            border-bottom: solid 2px #03AEAE;
            transition: .3s;
        }
    }
}