---
date: 2020-01-01
permalink: false
tags: content
title: Lowki
---

<div class="funding">
    <div class="funding_info">
        <h2><strong>Lowki</strong><br>Enhance your bike experience</h2>
        <p>Lowki is a safe electric bike lock with a lot of built-in handy features.</p>
        <a href="#">Contribute to this project</a>
        <a id="ad" target="_blank" href="{{ '/ad/vandermeersch_jesse_online_ad.html' | url }}">Watch promo video</a>
    </div>
    <div class="funding_img">
        <img src="{{ '/assets/images/lowki_splash.png' | url }}" alt="">
    </div>
</div>

<div class="features">
    <div class="features_card">
        <img src="{{ '/assets/images/nfc.svg' | url }}" alt="">
        <h3>No key, no hassle</h3>
        <p>With Lowki you don't need a key to open your lock. You can just tap it with your phone or open the app and push the button</p>
    </div>
    <div class="features_card">
        <img src="{{ '/assets/images/map-pin.svg' | url }}" alt="">
        <h3>Geolocation implementation</h3>
        <p>Find your bike anywhere in cowded area's. You can also find the nearest parkingspaces for your bike and let your friends know where your are</p>
    </div>
    <div class="features_card">
        <img src="{{ '/assets/images/settings.svg' | url }}" alt="">
        <h3>Analyse</h3>
        <p>The Lowki app can give you a update of the state of your bike. Keep your bike in excellent condition</p>
    </div>
</div>

<hr>