---
date: 2020-01-02
permalink: false
tags: content
title: Story
---

<div class="section_title">
    <h2>Story</h2>
</div>

<div class="story-container">
    <div class="text-container">
        <p>Dit project is het resultaat van een design challenge die twee studenten doorliepen. Het doel van de challenge was om mensen te stimuleren meer de fiets te nemen. Na een denkoefening en wat rondgevraagd kwamen we tot de conclusie dat de mensen zich zorgen maken over de veiligheid van hun fiets. Lowki is het resultaat van deze brainstorm. </p>
        <p>Ook al was veiligheid de basis van het idee, een goed fietsslot is iets wat we al kennen dus moest er een manier zijn om Lowki te onderscheid van de concurrentie. Wij deden dit door alle kleine ergernissen, waar we onzelf aan stoorden bij het nemen van de fiets, op te lossen:</p>
        <ul>
            <li>Je moet geen code of de voor een sleutel zorgen, je kan Lowki open met je smartphone.</li>
            <li>Als je in groep bent kan je de Lowki makkelijk combineren om alle fietsen samen te sluiten.</li>
            <li>Staat jouw fiets op een drukke plaats dan kan je tracking functie gebruiken om jouw fiets overal terug te vinden.</li>
            <li>Controleer de status van je Lowki en je fiets met de app.</li>
        </ul>
    </div>
    <img src="{{ '/assets/images/features.jpg' | url }}" alt="">
    <div class="text-container">
        <p>Na een korte configuratie kan je genieten van al de functionaliteiten die Lowki te bieden heeft.</p>
    </div>
    <img src="{{ '/assets/images/config.png' | url }}" alt="">
    <div class="text-container">
        <p>Met dit project is het altijd belangrijk geweest om rekening te houden met het klimaat. Net om die redenen is Lowki zo veel mogelijk opgebouwd uit natuurlijke of natuurlijk afbreekbare materialen.</p>
    </div>
    <img src="{{ '/assets/images/mobile.png' | url }}" alt="">
</div>

<hr>