---
date: 2020-01-02
permalink: false
tags: content
title: Contact
---

<div class="section_title">
    <h2>Contact</h2>
</div>

<div class="contact-container">
    <div class="contact-item">
        <img src="{{ '/assets/images/www.svg' | url }}" alt="">
        <p><a target="_blank" href="https://www.arteveldehogeschool.be/">Website</a></p>
    </div>
    <div class="contact-item">
        <img src="{{ '/assets/images/envelope.svg' | url }}" alt="">
        <p><a target="_blank" href="#">E-mail</a></p>
    </div>
    <div class="contact-item">
        <img src="{{ '/assets/images/linkedin.svg' | url }}" alt="">
        <p><a target="_blank" href="https://www.linkedin.com/">Linkedin</a></p>
    </div>
</div>